<th
  scope="col"
  class="sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-2.5 pl-4 pr-3 text-left text-xs font-semibold backdrop-blur backdrop-filter"
  data-controller="table-sort"
  data-table-sort-sort-value="<%= @sort.to_json %>"
  data-table-sort-key-value="<%= @column.sort_key %>"
  data-action="click->table-sort#click"
>
  <%= container_tag do %>
    <% if @column.icon %>
      <i class="text-gray-600 far <%= @column.icon %> me-1"></i>
    <% end %>
    <span class="text-gray-900 "><%= @column.label %></span>
    <span class="ms-1.5 h-4 w-4 shrink-0 flex items-center justify-center rounded <%= indicator_class %>">
      <i class="fa-sm fas fa-arrow-down"></i>
    </span>
  <% end %>
</th>
