<div class="flex items-center gap-4">
  <%= form_with url: url_for(only_path: true), method: :get, class: 'flex items-center gap-4', data: { turbo_action: @turbo_action, turbo_frame: @turbo_frame, controller: 'form' } do %>
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
      </div>
      <input
        value="<%= @filters.dig('q') %>"
        type="text"
        name="q"
        id="table-search"
        class="block p-2 ps-10 font-semibold text-sm placeholder:text-primary-300 text-primary-900 outline-none border border-gray-300 focus:border-primary-700 rounded-lg w-80 focus:ring-primary-700/50"
        placeholder="<%= @placeholder %>"
        data-action="input->form#debouncedSubmit"
      >
    </div>
    <%= content %>
    <% if @reset %>
      <%= render SecondaryButtonComponent.new 'Reset', size: "sm", type: :button, attrs: { data: { action: 'form#clearAll' } } %>
    <% end %>
  <% end %>
  <%= actions if actions? %>
</div>