<div class="w-full">
  <div class="px-4 sm:px-0">
    <h3 class="text-base/7 font-semibold text-gray-900"><%= @user.name %></h3>
    <p class="mt-1 max-w-2xl text-sm/6 text-gray-500"><%= @user.email %></p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <% if @user.admin? %>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm/6 font-medium text-gray-900">Admin</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            <i class="far fa-check fa-lg"></i>
          </dd>
        </div>
      <% end %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm/6 font-medium text-gray-900">Created</dt>
        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
          <time datetime="<%= @user.created_at.iso8601 %>"><%= @user.created_at.to_fs(:us_date) %></time>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm/6 font-medium text-gray-900">Subscription</dt>
        <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <div class="bg-white border border-gray-200 rounded-xl p-4">
            <%= turbo_frame_tag dom_id(@user, :subscription), src: subscription_admin_user_path(@user), loading: 'lazy' do %>
              <%= render ContentSkeletonComponent.new lines: 3 %>
            <% end %>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>
