<div class="flex flex-col gap-4">
  <%= f.input :title, required: true, autofocus: true %>
  <div class="flex flex-col gap-4 lg:flex-row lg:items-center">
    <%= f.input :subtitle1, label: 'Subtitle 1', wrapper_html: { class: 'flex-1' } %>
    <%= f.input :subtitle2, label: 'Subtitle 2', wrapper_html: { class: 'flex-1' } %>
  </div>
  <div class="flex flex-col gap-4 lg:flex-row lg:items-center">
    <% if f.object.image.attached? %>
      <%= link_to f.object.image, class: 'rounded-lg max-w-xs ring-1 ring-offset-2 ring-gray-300', target: '_blank' do %>
        <%= image_tag f.object.image, class: 'rounded-lg h-auto w-full object-cover' %>
      <% end %>
    <% end %>
    <%= f.input :image, label: "#{f.object.persisted? ? 'Change' : 'Upload'} image", wrapper_html: { class: 'flex-1' } %>
  </div>
</div>